<h1>SprintPilot AI</h1>

<ul>
  <li>Organizations: <%= Organization.count %></li>
  <li>Projects: <%= Project.count %></li>
  <li>Sprints: <%= Sprint.count %></li>
  <li>Stories: <%= Story.count %></li>
</ul>