<div class="story-page">

  <div class="story-header">

    <div>

      <h1 class="story-title">
        Edit Story
      </h1>

    </div>

  </div>

  <div class="story-card">
    <%= render "form" %>
  </div>

</div>