<div class="epic-form-page">

  <div class="epic-form-header">

    <div>

      <h1 class="epic-form-title">
        Edit Epic
      </h1>

      <p class="epic-form-subtitle">
        Update epic information.
      </p>

    </div>

    <%= link_to "← Back",
        epics_path,
        class: "back-btn" %>

  </div>

  <div class="epic-form-card">

    <%= render "form" %>

  </div>

</div>